/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "iconfont"; /* Project id 3725816 */
  src: url("//at.alicdn.com/t/c/font_3725816_2s55xyxvbeg.woff2?t=1668064823159")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3725816_2s55xyxvbeg.woff?t=1668064823159")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3725816_2s55xyxvbeg.ttf?t=1668064823159")
      format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
