$content-font-color: #333333;
$content-border-color: #666666;
$content-fontColor: #999999;
$content-bgColor: #f1f1f1;
$content-notice-fontcolor: #777777;
$search-bgColor: #f5f5f5;
$search-fontColor: #b7b7b7;
$bgColor: #ffffff;
$highlight-fontColor: #e93b3b;
$checkd-iconColor: #0091ff;
$dark-fontColor: #000000;